<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- HTML shimがこの1行で収まる -->
    <%= render 'layouts/shim' %>
  </head>

  <body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  
  <%= render 'layouts/header' %>
    <header>
      <nav>
          <% if user_signed_in? %>
            <strong><%= link_to current_user.name, static_pages_show_path %></strong>
          <% end %>
      </nav>
    </header>


    
    
  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
